<!DOCTYPE html>
<html>

<head>

<title>Add Practice</title>

<link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
<link rel="stylesheet" href="{{ url_for('static', filename='css/navbar.css') }}">
<link rel="stylesheet" href="{{ url_for('static', filename='css/add_practice.css') }}">

</head>

<body>

<nav>

<h2>Smart Coding Practice Tracker</h2>

<ul>

<li><a href="/dashboard">Dashboard</a></li>

<li><a href="/logout">Logout</a></li>

</ul>

</nav>

<div class="practice-box">

<h1>Add Practice</h1>

<form action="/add_practice" method="POST">

<select name="language" required>

<option value="">Select Language</option>

<option>HTML</option>

<option>CSS</option>

<option>JavaScript</option>

<option>Python</option>

<option>Flask</option>

<option>MySQL</option>

<option>MongoDB</option>

</select>

<input
type="text"
name="topic"
placeholder="Topic Name"
required>

<select
name="difficulty"
required>

<option>Easy</option>

<option>Medium</option>

<option>Hard</option>

</select>

<input
type="number"
name="duration"
placeholder="Practice Time (Minutes)"
required>

<select
name="status">

<option>Completed</option>

<option>Pending</option>

</select>

<textarea

name="notes"

placeholder="Notes"

rows="5">

</textarea>

<button type="submit">

Save Practice

</button>

</form>

</div>

</body>

</html>