<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>Smart Coding Practice Tracker</title>
    
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/navbar.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/home.css') }}">
</head>

<body>

<nav>
    <h2>Smart Coding Practice Tracker</h2>

    <ul>
        <li><a href="/">Home</a></li>
        <li><a href="/login">Login</a></li>
        <li><a href="/register">Register</a></li>
    </ul>
</nav>

<div class="container">
    <h1>Welcome to Smart Coding Practice Tracker</h1>

    <p>Track your daily coding practice, monitor your progress, and achieve your learning goals.</p>

    <a href="/login" class="btn">Get Started</a>

</div>
    

</body>
</html>